.inventory {

    border: 1rem double #1a1a1a;
    padding: 10px;
    height: 650px;
    overflow: scroll;

    .title{
      text-align: center;
      margin-top: 0;
      margin-bottom: 2rem;
    }

  .row, .col{ padding: 0; margin: 0;}

  .item {
    margin-bottom: 10px;
    // padding: 5px;
    border: 1px solid black;
  }

  .item .col {
    border: 1px solid black;
  }

  input {
    padding: 0;
    margin: 0;
    border: none;
   }

   .item .row select {
    line-height: 1;
    border: none;
    appearance: none;
    background: #fff;
}
}
