.menu {
  border: 1rem double #1a1a1a;
  padding: 10px;
  height: 650px;
  overflow: scroll;

  .title{
    text-align: center;
  }

  .title h1 .ofThe {
    display: flex;
    font-size: 3rem;
    color: #f5a623;
    justify-content: center;
    align-items: center;
    align-items: center;
    // background: url(../images/anchor.svg) center no-repeat;
    background-size: cover;
    padding: 0 1rem;
}

  .row, .col{ padding: 0; margin: 0;}

  .item {
    margin-bottom: 10px;
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
  }

  button[disabled], input[type=submit][disabled] {
    color: #d12028;
    background: #fff;
    border-color: #d12028;
    transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
  }

  .fish-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input {
    padding: 0;
    margin: 0;
    border: none;
   }
}
