.app {
    .title h1 {
      font-size: 3rem;
      line-height: 0.7;
      display: flex;
      justify-content: center;
      font-family: 'blanchcaps_inline', sans-serif;
      text-align: center;
      font-weight: normal;
      margin: 0;
    }

    .padding-left { padding-left: 5px; }
    .padding-right { padding-right: 5px; }
}
